.navbar {
  width: 100%;
  padding: 0.5em 2em;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.logo {
  height: 50px;
}

li .nav-link {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0 1.5em;
  font-family: "Roboto Slab", serif;
}

.d-flex .btn-outline-success {
  border-radius: 50%;
  color: #3f51b5;
  border-color: #3f51b5;
}

.d-flex .btn-outline-success:hover {
  border-radius: 50%;
  color: #ffffff;
  border-color: #3f51b5;
  background-color: #3f51b5;
}

.d-flex input {
  border-color: #3f51b5;
  border-radius: 5em;
}

.signout-btn {
  cursor: pointer;
}
