.developer-container {
  padding: 4em;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.developer-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5em 2em;
  width: 24em;
  height: 20em;
  background-color: rgb(250,250,250);
  border-radius: 1em;
  transition: .5s;
}

.developer-block:hover {
  box-shadow: 0 0 .75em rgba(0, 0, 0, 0.35);
}

.developer-block p {
  margin-bottom: 0;
}

.img-frame {
  margin-top: -5em;
  box-shadow: inset 0 0 0.5em 0.125em rgba(0, 0, 0, 0.5);
  width: 10em !important;
  height: 10em !important;
  border-radius: 50%;
  position: relative;
  z-index: 3;
}

.developer-thumbnail {
  width: 10em !important;
  height: 10em !important;
  border-radius: 50%;
  border: #3f51b5 solid 2px;
  object-fit: cover;
}

.bs-icon {
  color: #3f51b5;
}

.title-link {
  margin-top: .25em;
  text-decoration: none;
  color: #212529;
  cursor: pointer;
}

.certification-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certification-title {
  margin-right: .5em;
}

.certification-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.mui-button {
  margin-bottom: 1em;
}