.developer-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  flex-direction: column;
}

.developer-detail-container {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.dev-section-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 4em;
  height: 75vh;
}

.dev-project-section {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.projects-block {
  margin-bottom: 1em;
}
.certification-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  border: 1px;
  border-radius: 1rem;
}

.dev-project-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
