body {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#root {
  width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  margin-top: 8em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 4em;
}
.home-projects {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 66em;
  height: 75vh;
}
.home-left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60em;
}

.home-left-side .scrollbar-container {
  width: 65em;
}

.home-right-side {
  width: 30em;
}

.home-right-side .scrollbar-container {
  width: 30em;
}

.hot-jobs-section {
  height: 72vh;
}

h4 {
  font-size: 2em;
}

.signup-form-container {
  margin: 8em 0;
}

.page-title {
  margin-top: 0 0 1em 0;
}

input[type="date"]::before {
  color: rgb(0, 0, 0);
  content: attr(placeholder);
  margin-right: 3px;
}

.home-left-side .scrollbar-container {
  position: relative;
  height: 100%;
  width: 68em;
}

.home-right-side .scrollbar-container {
  position: relative;
  height: 100%;
  width: 30em;
}

.login-form-container {
  margin-top: 10em;
  width: 100%;
  display: flex;
  justify-content: center;
}
