.project-container {
  /* padding: 2em 4em; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project-block {
  margin: 0.5em 2em;
  width: 24vw;
  height: 29em;
  cursor: pointer;
}

.project-block button {
  border: none;
}

.project-img-frame {
  border-radius: 1em;
  width: 24vw !important;
  height: 18vw !important;
  transition: .5s;
}
.project-img-frame:hover {
box-shadow: 0 0 .75em rgba(0, 0, 0, 0.35);
}

.project-thumbnail {
  width: 24vw !important;
  height: 18vw !important;
  object-fit: cover;
  border-radius: 1em;
  position: relative;
  z-index: -2;
}

.project-block-footer {
  padding-top: .5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title-link {
  text-decoration: none;
  color: #212529;
}

.likes {
  color: #3f51b5;
  cursor: pointer;
}
.likes:hover {
  color: blue;
}
