.hot-job-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30em;
  height: 10em;
  border: #3F51B5 solid 1px;
  border-radius: 5em;
  margin-top: 2em;
  padding: 1em 2em;
}

.hot-icon-frame {
  width: 7em;
  display: flex;
  height: 7em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 0 0 0.5em 0.125em rgba(0, 0, 0, 0.25);
  margin-right: 0.5em;
  background-color: #3F51B5;
}

.hot-hi-icon {
  color: #fff;
  font-size: 3em;
}

.hot-job-title {
  color: #3F51B5;
}

.hot-text-highlight {
  margin-top: 1em;
  color: #3F51B5;
}

.hot-job-info a {
  font-size: 1.5em;
  text-decoration: none;
}