.footer-bar {
  background-color: #3f51b5;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 0.5em;
  position: fixed;
  z-index: 10;
  p {
    margin-bottom: 0;
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: rgb(96, 214, 243);
    }
  }
}
