.login-main-container {
	width: 30%;
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 10em;
	background-color: rgb(250,250,250);
	padding: 4em;
	border-radius: 1em;
}
.login-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form-input {
	input {
		border-radius: 2em;
		padding: 0.25em 1em;
		margin-bottom: 1em;
		border: #3f51b5 solid 1px;
		width: 25em;
	}
}
