.developer-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
}

.section-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.project-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.projects-block {
  margin-bottom: 1em;
}
.certification-section {
  
}
